* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0;
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */

}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9999;
}

#currtime-section {
  background-color: #F5F5F5;
  padding: 50px;
}

#currtime {
  color: antiquewhite;
  font-size: 10vw;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
}

#currtime-label {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
<<<<<<< Updated upstream
  /* transition: color 0.5s ease-in-out;
      animation: slide 2s infinite; */
=======
  transition: color 0.5s ease-in-out;
  animation: slide 2s infinite;
>>>>>>> Stashed changes
}

.namaz {
  color: aliceblue;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 3px 3px 3px black;
}

#countdown {
  color: mistyrose;
  font-size: 7vw;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
}

#currdate {
  color: aliceblue;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 3px 3px 3px black;
}

.stime {
  font-size: 50px;
  text-transform: unset;
}

.sname {
  font-size: 25px;
  font: bold;
  color: #006eb9;
}

.container-fluid {
  padding-bottom: 180px;
}

.card-img-top {
  width: 100px;
  height: 200px;
}

.col {
  margin-bottom: 50px;
}